body {
    background: linear-gradient(#9a4376, #c44577);
    height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}


h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.form-container {
    background-color: white;
    padding: 3.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    border-radius: 14px;
}

.form-group {
    flex: 1;
    margin-right: 1rem;
}

.form-group:last-child {
    margin-right: 0;
}

.form-row {
    display: flex;
    flex-direction: space-between;
    margin-bottom: 1rem;
}
label {
    display: block;
    margin-bottom: 0.5rem;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #efefef;
    background-color: #fafafa;
    border-radius: 8px;
    box-sizing: border-box;
}

.radio-group {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;  /* Add some top margin to align with other inputs */
}
.radio-group input[type="radio"] {
    margin-right: 0.5rem;
    accent-color: #7bb457;
}
.radio-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.radio-group label {
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
}
.radio-item label{
    
}
.submit {
    margin-top: 1rem;
    background-color: #5a73d0;
    color: white;
    padding: 0.55rem 1.6rem;
    border: none;
    border-radius: 9px;
    font-size: 0.8rem;
}
.submit:hover {
    background-color: #495fad;
}
.submit:active {
    background-color: #3c4f9e;
}